In [4]:
# 2021년 4월 1일 아파트 가격
# 가격 단위 (만원)

In [3]:
import pandas as pd
url = 'https://docs.google.com/uc?export=download&id=1_o90HNWC1c1dda_5gyklweFpElrLrQ1w'
df= pd.read_csv(url)
df

      index      name gugun   dong  ...  avg_sales  area  floor  pricePerArea
0         0    수락산벨리체   노원구    상계동  ...   101000.0   139     42    697.841727
1         1     수락파크빌   노원구    상계동  ...    89000.0   105     32    790.476191
2         2   비콘드림힐2차   노원구    상계동  ...    71500.0    86     26    720.930233
3         3      수락현대   노원구    상계동  ...    65500.0   102     31    637.254902
4         4     대망드림힐   노원구    상계동  ...    70000.0    91     28    692.307692
...     ...       ...   ...    ...  ...        ...   ...    ...           ...
4539     46    한국프라우드   마포구    합정동  ...    99000.0   113     34    876.106195
4540     47        동보  영등포구  양평동5가  ...    89500.0    80     24   1000.000000
4541     48        대림   강서구    염창동  ...    84500.0    83     25    891.566265
4542     49  염창현대아이파크   강서구    염창동  ...   109000.0    93     28   1043.010753
4543     50  마포영화블렌하임   마포구    망원동  ...    98500.0   117     35    717.948718

[4544 rows x 11 columns]

In [8]:
df['floor'].unique()

array([42, 32, 26, 31, 28, 25, 38, 16, 24, 27, 33, 18, 23, 15, 29, 22, 30,
       34, 19, 17, 14, 20,  0, 21, 37,  7, 11, 35, 40, 13, 41,  5, 39, 43,
       46, 44, 10, 61, 78,  8, 12,  6, 55, 48,  9, 45, 53, 50, 56, 73, 54,
       52, 47, 36, 51, 65, 62, 49, 63, 79, 58, 59, 85, 84, 71, 60, 77, 57,
       67, 64, 70, 80,  4, 81])